<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>基于神经网络模型的音乐识别提取与再创作软件</title>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'uploadifive/uploadifive.css' %}"/>
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'uploadifive/jquery.uploadifive.js' %}"></script>
	<script src="{% static 'js/modernizr.custom.js' %}"></script>
    {% csrf_token %}
     <script type="text/javascript">
        $(function() {
            $('#file_upload').uploadifive({
                'uploadScript': 'upload/',
                'fileTypeExts':'*.mid',
                'debug'   : true,
                'auto'      : true,
                'multi': true,
                'simUploadLimit':1,
                'buttonText':'选择.mid文件',
                'removeCompleted':false,
                'sizeLimit':1024,
                'preventCaching': false,
                'onInit': function () {},
                'onUploadComplete': function(file) {
                    document.getElementById("show-sheets").innerHTML = ("<img src=\'../static/files/melody/png/" + file.name + "-page1.png\' width=\"630em\"/>")
                }
            });
        });
    </script>
</head>
<body>

<div class="meny">
  <h2>基于神经网络模型的音乐识别提取与再创作软件</h2>
  <ul>
    <li><a href="/index">主页</a></li>
    <li><a href="/recognition">扒谱</a></li>
    <li><a href="/melody">midi转乐谱</a></li>
    <li><a href="/chord">和弦匹配</a></li>
    <li><a href="/help">帮助</a></li>
    <li><a href="/about">关于我们</a></li>
  </ul>
</div>
<div class="meny-arrow"></div>
<div class="contents">

	<article>
        {% csrf_token %}
        <div id="show-sheets">
            上传并转换成功后会显示你的曲谱。<br>
            下面是一个例子：<br>
            <img src='../static/img/example_1.png' width="630em"/>
        </div>
    	<h1>midi转化为乐谱图片</h1>
        <p>请上传.mid格式的文件</p>
        <div class="demo-box">

        <input id="file_upload" type="file" name="Filedata">
        <p>
            <a href="javascript:$('#file_upload').uploadifive('upload','*')">上传</a>
            <a href="javascript:$('#file_upload').uploadifive('cancel')">取消上传</a>
            <a href="/melody/download">下载</a>
        </p>
        <p><span id="id_span_msg"></span></p>
        </div>


    </article>

</div>

</div>

<script src="/static/js/meny.js"></script>
<script>
	var meny = Meny.create({
		menuElement: document.querySelector( '.meny' ),
		contentsElement: document.querySelector( '.contents' ),
		position: Meny.getQuery().p || 'left',
		height: 200,
		width: 260,
		threshold: 40,
		mouse: true,
		touch: true
	});
	if( Meny.getQuery().u && Meny.getQuery().u.match( /^http/gi ) ) {
		var contents = document.querySelector( '.contents' );
		contents.style.padding = '0px';
		contents.innerHTML = '<div class="cover"></div><iframe src="'+ Meny.getQuery().u +'" style="width: 100%; height: 100%; border: 0; position: absolute;"></iframe>';
	}

</script>
</body>
</html>